amqp==2.6.0
asgiref==3.2.10
billiard==3.6.3.0
celery==4.4.1
certifi==2020.6.20
chardet==3.0.4
Django==3.1.6
djangorestframework==3.11.0
geographiclib==1.50
geopy==2.0.0
idna==2.10
kombu==4.6.11
pytz==2020.1
redis==3.4.1
requests==2.24.0
sqlparse==0.3.1
urllib3==1.25.9
vine==1.3.0
django-import-export==2.3.0
flower==0.9.3
pytest==5.4.1
pytest-django==3.8.0
requests-cache==0.5.2

